html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    color: black;
    background-color: white;
    font-family: "Helvetica Neue", Helvetica, sans;
}

div.main {
    box-sizing: border-box;
    position: relative;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 0pt;
    margin: 0pt;
    /* padding-top: 5%; */
    min-height: 100%;
}

div.main div.title {
    padding-top: 75px;
    font-family: "Helvetica Neue", Helvetica, sans;
    font-weight: bold;
    font-size: 64pt;
    border-bottom: 5pt solid black;
    line-height: 75%;
    text-transform: uppercase;
}

div.main div.title span#logout {
    float: right;
    clear: none;
    font-size: medium;
    line-height: normal;
    text-align: right;
}

span#logout a {
    text-decoration: none;
    text-transform: uppercase;
}

div.main div.content {
    margin-top: 30pt;
    margin-bottom: 30pt;
}

a {
    color: black;
    text-decoration: underline;
    font-weight: bold;
}

span.error {
    font-weight: bold;
    font-size: large;
    color: red;
    float: right;
    width: 40%;
    text-transform: uppercase;
    clear: none;
}

span.error a {
    color: red;
}

div.main div.footer {
    height: 50pt;
    font-size: small;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    background-color: black;
    padding-top: 20pt;
    padding-bottom: 20pt;
    padding-left: 20%;
    padding-right: 20%;
}

div.main div.footer a {
    color: white;
}

span.macro a {
    text-decoration: none;
}

span.macro a img {
    border: none;
}