div#month {
    width: 100%;
    display: table;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

ul.day_names {
    display: table-row;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
}

ul.day_names li.day_name {
    display: table-cell;
    background-color: black;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 14%;
}

ul.week {
    display: table-row;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
}

ul.week li.day {
    display: table-cell;
    border-right: 1px solid black;
    border-top: 1px solid black;
    /*min-height: 100px;*/
    height: 100pt;
    padding: 5pt;
}

ul.week li.day a {
    font-size: large;
    font-weight: normal;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

ul.week li.padding-month a {
    color: #ccc;
}

div.calendar-nav {
    padding-bottom: 5pt;
    text-transform: uppercase;
}

div.calendar-nav span.forward {
    float: right;
}