<html>
    <head>
        <title>FORBIDDEN</title>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <div class="main">
            <span class="error">
                {{ message }}
            </span>
            <span class="macro">
                <img src="/images/yuno.png">
            </span>
        </div>
    </body>
</html>