<html>
    <head>
        <title>NOT FOUND</title>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <div class="main">
            <span class="error">
                Looked high and low for {{ uri }}.<br><br>
                We ain't found shit.
            </span>
            <span class="macro">
                <img src="/images/alon.png">
            </span>
        </div>
    </body>
</html>