<html>
    <head>
        <title>{{ local_date }}</title>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <div class="main">
            <div class="title">
                {{ local_date }}
            </div>
            <div class="content">
                <div id="top-navbar">{{{ navbar_links }}}</div>
            </div>
        </div>
        <footer>
            Copyright &copy; 2015 Casey Marshall<br>
            Fork us so hard on <a href="https://github.com/csm/showgregator">github</a>.
        </footer>
    </body>
</html>