<html>
    <head>
        <title>YOU ARE REGISTERED</title>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <div class="main">
            <div class="title">
                REGISTERED.
            </div>
            <div class="content">
                <p>You've been registered.</p>

                <p>We will need verify your email address {{ email }}. We will send you an email that will contain a link to use to verify your account.</p>

                <p>Once you've verified your email address, you can <a href="/login">login</a>.</p>
            </div>
        </div>
        <footer>
            Copyright &copy; 2015 Casey Marshall<br>
            Fork us so hard on <a href="https://github.com/csm/showgregator">github</a>.
        </footer>
    </body>
</html>