<html>
    <head>
        <title>YOUR ACCOUNT IS PENDING</title>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <div class="main">
            <div class="title">
                YOUR ACCOUNT IS PENDING
            </div>
            <div class="content">
                <p>The email address {{ email }} is still pending confirmation. Please click the link in that email to confirm your account.</p>

                <p>If you have not received the confirmation email, you can try <a href="/resend?for={{ email }}">sending it again</a>.</p>
            </div>
            <div class="footer">
                Copyright &copy; 2015 Casey Marshall<br>
                Fork us so hard on <a href="https://github.com/csm/showgregator">github</a>.
            </div>
        </div>
    </body>
</html>