<html>
    <head>
        <title>VALIDATED</title>
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/login.css">
    </head>
    <body>
        <div class="main">
            <div class="title">VALIDATED.</div>
            <div class="content">
                <div>You've successfully validated your email address. Now, log in to continue.</div>
                <form action="/login" method="POST" id="login">
                    <p>
                        <span class="label">
                            <label for="email">Email</label>
                        </span>
                        <span>
                            <input type="email" name="email" id="email" placeholder="you@domain.com" size="40" value="{{ email }}">
                        </span>
                    </p>
                    <p>
                        <span class="label">
                            <label for="password">Password</label>
                        </span>
                        <span>
                            <input type="password" name="password" id="password" size="40" placeholder="password">
                        </span>
                    </p>
                    <p>
                        <span class="label"></span>
                        <span>
                            <span class="button" onclick="document.getElementById('login').submit(); return false;">Login</span>
                        </span>
                    </p>
                </form>
            </div>
        </div>
        <footer>
            Copyright &copy; 2015 Casey Marshall<br>
            Fork us so hard on <a href="https://github.com/csm/showgregator">github</a>.
        </footer>
    </body>
</html>